<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="router-link-active"><i
            class="fas fa-home"></i> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="form" routerLinkActive="router-link-active"><i
            class="fas fa-clipboard-list"></i> Formulário </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="reativo" routerLinkActive="router-link-active"><i
            class="fas fa-clipboard-list"></i> Formulário Reativo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="usuario" routerLinkActive="router-link-active"><i class="fa fa-user-circle"></i>
          Lista de Usuários</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>